.main-container {
  background-color: black;
  height: 100vh;
}

.main-app {
  max-width: 400px;
  margin: auto;
  background-color: white;
  padding: 30px;
}

.main-app h1 {
  font-size: 40px;
  text-align: center;
}

.monsoon {
  font-size: 36px;
}

.wind {
  font-size: 36px;
}

@media screen and (max-width:350px) {
  .main-app {
    padding: 18px;
  }
}